#!/opt/conda/envs/centerpoint/bin/python
PACKAGE = "centerpoint_ros_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

grp = gen.add_group("nuScnes Detection Thresholds")
grp.add("car", double_t, 0, "Detection threshold for car objects", 0.5, 0, 1)
grp.add("truck", double_t, 0, "Detection threshold for truck objects", 0.5, 0, 1)
grp.add("construction", double_t, 0, "Detection threshold for construction objects", 0.5, 0, 1)
grp.add("bus", double_t, 0, "Detection threshold for bus objects", 0.5, 0, 1)
grp.add("trailer", double_t, 0, "Detection threshold for trailer objects", 0.5, 0, 1)
grp.add("barrier", double_t, 0, "Detection threshold for barrier objects", 0.5, 0, 1)
grp.add("motorcycle", double_t, 0, "Detection threshold for motorcycle objects", 0.5, 0, 1)
grp.add("bicycle", double_t, 0, "Detection threshold for bicycle objects", 0.5, 0, 1)
grp.add("pedestrian", double_t, 0, "Detection threshold for pedestrian objects", 0.1, 0, 0.12)
grp.add("traffic", double_t, 0, "Detection threshold for traffic objects", 0.5, 0, 1)

grp_w = gen.add_group("WAYMO Detection Thresholds")
grp_w.add("VEHICLE", double_t, 0, "Detection threshold for VEHICLE objects", 0.4, 0, 0.6)
grp_w.add("PEDESTRIAN", double_t, 0, "Detection threshold for PEDESTRIAN objects", 0.11, 0, 0.15)
grp_w.add("CYCLIST", double_t, 0, "Detection threshold for CYCLIST objects", 0.12, 0, 0.15)

exit(gen.generate(PACKAGE, "centerpoint_ros_node", "Thresholds"))